.App {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	gap: 10%;
	justify-content: center;
}

.left-block {
	width: 25%;
	background-color: #3a434333;
	border: 1px solid #192c2e;
	border-radius: 32px;
	height: 80%;
}

.right-block {
	width: 30%;
}
